@import "tailwindcss";
@import "./colors.css";
@import "./typography.css";
@import "./base.css";
@import "./shadows.css";
@import "./spacing.css";
@import "./utils.css";
@import "./animation.css";

@plugin "tailwind-scrollbar" {
  preferredStrategy: 'pseudoelements';
}

html {
  color-scheme: dark;
}

html[dir="rtl"] {
  direction: rtl;
}
html[dir="ltr"] {
  direction: ltr;
}

body {
  margin: 0;
  background-color: var(--color-bg);
}
